<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<script src="https://kit.fontawesome.com/146cb3e8a9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/styles.css">

</head>

<body>

<head>
<body>
    <header class="color">
    <img src="/imagenes/logo-mercado-liebre.svg"
    alt="Imagen del logo-mercado-liebre"/>  

    <form class="barra-busqueda">
        <input type="text" name="Buscar productos, marcas" id="Buscar productos, marcas" placeholder="Buscar productos, marcas">
 </form>
    <article><i class="fa-solid fa-magnifying-glass"></i></article>
    <br>
   
 <p><img><i class="fa-solid fa-hand-holding-dollar"></i>comprar en cuotas y sin tarjeta de crédito</p>
<br>
<section>
    <nav>
        <ul>
            <li type="none"><a class="text" href="">Ofertas</a></li>
            <li type="none"><a class="text" href="">Tiendas oficiales</a></li>
            <li type="none"><a class="text" href="">Vender</a></li>
            <li type="none"><a class="text" href="">ayuda</a></li>
        
        </ul><br>
        <ul>
            <li type="none"><a class="text" href="">Crear tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
            <li type="none"><a class="text" href="">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li type="none"><a class="text" href="">Mis compras</a><i class="fa-solid fa-bag-shopping"></i></li>
        </ul>
        <div class="burger-menu">
            <i id="buscador"class="fas fa-bars"></i>
            </div>
    </nav>
</section>

</header>

</body>

    <img src="/imagenes/img-home-banner.jpg">
    <br>
    
<strong>Basado en tu última visita</strong><br>

<main>

<article class="card">
<img src="/imagenes/img-cafetera-moulinex.jpg"><br>
<span class="tam">$6770</span><br>
<span class="tam2">40% off</span><br>
<strong class="tam2">img-cafetera-Moulinex</strong>
<br>
<img src="/imagenes/img-samsung-galaxy-s10.jpg">
<br>
<span class="tam">$70.500</span><br>
<span>10% off</span><br>
<span>SmartTv Samsung 43"</span><br>
<strong>imagen del SmartTv</strong>
<br>
<img src="/imagenes/img-tv-samsung-smart.jpg">
<br>
<strong>Sección de Ofertas</strong>
<br>
<img src="/imagenes/img-cafetera-moulinex.jpg">
<br>
<span>$6770</span><br>
<span class="tam2">40% off</span><br>
<span class="tam2">Cafetera Moulinex</span><br>
<img src="/imagenes/img-macbook-pro-2019.jpg">
<br>
<span>$230.000</span><br>
<span class="tam2">20% off</span><br>
<span class="tam2">MacBook Pro 1019</span><br>
<img src="/imagenes/img-samsung-galaxy-s10.jpg">
<br>
<span class="tam">$70.500</span><br>
<span class="tam2">10% off</span><br>
<span class="tam2">Samsung Galaxy S10</span><br>
<img src="/imagenes/img-tv-samsung-smart.jpg">
<br>
<span class="tam">$23.200</span><br>
<span class="tam2">5% off</span><br>
<span class="tam2">SmartTv Samsung 43"</span><br>
</article>

    </main>

    </head>
<head>
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fas fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos. </p>
        </section>
            
        <section>
            <i class ="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin </h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@. </p>
        </section>
        <div class = "copyright">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
        
    </footer>
</head>

</body>

</html>
